*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100vw;
    height: 8vh;
    background-color:rgb(255,113,113) ;
}
#navicon{
    width: 20px;
    height: 20px;
    
    
    
   

}
#btnid{
    /* background-color: #363535; */
}
#navicon img{
    width: 100%;
    height: 100%;
    display: none;

}
.dropdown{
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgb(83, 82, 85);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    /* display: none; */
    height: 0px;
}
.dropdown li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdownopen{
    height: 240px;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background-color: rgb(231, 198, 137);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}
.dropdown li:hover{
    color:rgb(255,113,113) ; ;
}

nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    text-align: center;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    font-style: bold;
    size: 80vw;
    gap:5%;
    font-weight: 600;
    letter-spacing: 2px;
 
}
header nav li{
    letter-spacing: 1px;
    cursor: pointer;
}
header nav li:hover{
    color:rgb(255,245,175) ;
}

#img1{
    width: 100%;
    height: 100%;
}
#bodydiv{
    width: 100vw;
    height: 92vh;
    display: flex;
}
#bodycontent{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: 10%;
    padding:5%;
    background-image:linear-gradient(to left,rgb(255,212,207),rgb(255,245,175));
    
}
#para{
    color: #363535;
}
#forimg{
    width: 50%;
}
#bodyimg{
    width: 100%;
    height: 100%;
}
h1{
   font-family: monospace;
   letter-spacing: 2px;
   font-style: bold;
   
   
}
#bodycontent  p{
    line-height: 20px;
    
}
#bodycontent button{
    height:8% ;
    width: 40%;
    background-color:rgb(255,113,113) ;
    color: aliceblue;
    outline: none;
    border: none;

}
/* pageno2 */

#page{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image:linear-gradient(to left,rgb(255,212,207),rgb(255,245,175));

}
#pageleft{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#griddiv{
    margin-left: 20px;
    display: flex;
  
    width: 100%;
    height: 70%;
    gap:5px;
}
#grid1{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap:2px
    

}
#grid2{
    height: 100%;
    width: 50%;
   
}
#img1{
   
    width: 100%;
    height: 50%;
    

}
#img2{
   
    width: 100%;
    height: 50%;
}
#img1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    

}
#img2 img{
    width: 100%;
    height: 100%;
    background-size: cover;


}
#grid2{
    width: 50%;
    height: 100%;
    background-size: cover;

}
#grid2 img{
    width: 100%;
    height: 100%;
    background-size: cover;

}
#pagerignt{
    width: 50%;
    height:100%;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
#box{
    width:50% ;
    height: 30%;
    /* background-color: rgb(255,113,113); */
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    padding: 5%;
    background-color: rgb(255,113,113);
    gap:20px;
    padding: 10px;

}
#box p{
    font-family: monospace;
    
}
#box h1{
    
   
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 4%;
}
#boxpara{
    display: flex;
    gap: 5px;

}

#rightarrow{
    
    width: 20px;
    height: 20px;
}
#rightarrow img{
    width: 100%;
    height: 100%;
}



@media (max-width:600px){
    nav li{
        display: none;
    }
    #navicon img{
        display:block ;
        margin-left: 40vw;
    }
    #dropdown{
        display: block;
    }
    #forimg{
        display: none;

    }
    #bodycontent{
        width: 100%;
        background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url(image/pexels-robin-stickel-70497.jpg);
        background-size: cover;
        background-position: center;
    }
    header{
        width: 100vw;
        height: 8vh;
        background-color:rgb(228, 176, 176) ;
    }
    h1{
        font-family: monospace;
        letter-spacing: 2px;
        font-style: bold;
        color: aliceblue;
        
        
     }
     #bodycontent  p{
         line-height: 20px;
         color: aliceblue;
         
     }
     #bodycontent button{
         height:8% ;
         width: 40%;
         background-color:rgb(228, 176, 176) ;
         color: rgb(20, 20, 21);
         outline: none;
         border: none;
     
     }
   /* SECONDPAGE */

   #page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(to left,rgb(255,212,207),rgb(255,245,175));
    margin-top: 5px;
}
#pageleft{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
#griddiv{
    display: flex;
  
    width: 90%;
    height: 100%;
    gap:5px;
}
#grid1{
    height: 100%;
    width: 50%;
    
    display: flex;
    flex-direction: column;
    gap:2px
    

}
#grid2{
    height: 100%;
    width: 50%;
   
}
#img1{
   
    width: 100%;
    height: 50%;
    

}
#img2{
   
    width: 100%;
    height: 50%;
}
#img1 img{
    width: 100%;
    height: 100%;
    background-size: cover;
    

}
#img2 img{
    width: 100%;
    height: 100%;
    background-size: cover;


}
#grid2{
    width: 50%;
    height: 100%;
    background-size: cover;

}
#grid2 img{
    width: 100%;
    height: 100%;
    background-size: cover;

}


#pagerignt{
    width: 100%;
    height:50%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
#box{
    width:60% ;
    height: 60%;
    background-color: rgb(255,113,113);
    display: flex;
    flex-direction: column;
    

}
#box p{
    font-family: monospace;
    
}
#box h1{
   
    margin-top: 4%;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 5%;
    color: black;
}
#boxpara{
    display: flex;
   

}

#rightarrow{
    
    width: 20px;
    height: 20px;
}
#rightarrow img{
    width: 100%;
    height: 100%;
}

}